*{
  background-color: rgb(167, 165, 165)
}
.Nav {
  background-color: #b76e79;
  height: 50px;
  display: flex;
  font-size: 20pt;
}
.babyNav{
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
}
.progress{
  display: flex;
}
.work{
  margin-top: 5%;
  flex: auto;
}
img{
  height: 600px;
  width: 600px;
}
.track{
  display: flex;
  text-decoration: none;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
}
.trackDisplay{
  flex: 1;
  text-decoration: none;
  justify-content: center;
  font-family: 'Indie Flower', cursive;
}
.formDetail{
  margin-top: 2%;
  font-size: 15pt;
  font-family: 'Indie Flower', cursive;
}
.button1{
  margin-top: 2%;
}
.song{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  margin-left: 25%;
}
.progress{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  flex: 1;
}
.text{
  flex: 1;
  font-size: 15pt;
  color: #b76e79;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
